<!DOCTYPE html>
<html>

<head>
  <title>Aprove</title>
</head>

<body>
  <form action="/admin-aproval" method="POST">
    <p>Enter Username you want to aprove</p>
    <input type="text" name="username" placeholder="Username" required />
    <button type="submit">Aprove</button>
  </form>
</body>

</html>