<!DOCTYPE html>
<html>

<head>
  <title>Aprove</title>
</head>

<body>
  <h1>You are already login in one machine please aprove from addmin to login in multiple device</h1>
  <button><a href="/admin">Request Admin</a></button><br>
  <a href="/logout">Logout</a>
</body>

</html>